.home-page { background-color: #eeeeee;
    .app-route-indicator { opacity: 0; visibility: hidden; position: absolute; bottom: 10px; left: 50%; margin-left: -150px; background-color: rgba(white,.85); border-radius: 3px; @include shadow-2dp(); color: $grayDarker; padding: 10px 10px 20px 10px; width: 300px;
        &.is-active { -webkit-animation: route 10s $animation-curve-default 2s; animation: route 10s $animation-curve-default 2s; }
        .app-route-title { @include title-bold; font-size: 12px; letter-spacing: .5px; margin-bottom: 5px; display: inline-block; text-transform: uppercase; width: 100%;}
        .app-route-off, .app-route-on { @include title-bold; display: inline-block; width: 49%; text-align: center;
            &:before { background-size: contain; content: ""; display: inline-block; margin-right: $margin/4; vertical-align: middle; width: 30px; height: 30px;}
        }
        .app-route-on:before { background-image: url(../images/icons/pin-rota.svg);}
        .app-route-off:before { background-image: url(../images/icons/pin-rota-inativa.svg);}
    }
    .home-map { background-color: $gray;}
    .home-footer { position: fixed; bottom: 20px; left: 5%; background-color: rgba($white,.9); border-radius: 3px; @include shadow-2dp(); color: $grayDark; display: block; @include title-bold; width: 90%;
        &:before { position: absolute; left: 50%; top: 50%; margin-top: -$headerHeight/4; margin-left: -2px; background-color: rgba($grayDark,.1); border-radius: 10px; content: ""; display: block; width: 2px; height: $headerHeight/2;}
    } 
    .home-header-title { margin-left: -$icon*2;}                                                                                                                                                                                                                  
    .home-footer-btn { position: relative; color: inherit; display: inline-block; font-size: 14px; font-weight: 700; padding: 20px; text-align: center; text-decoration: none; width: 49.25%;
        &.close-highlight {
            &:active { background-color: $redLighter;
                &:before { border: none;}
            }
            &:before { position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; content:""; border: 1px solid rgba($red,.5); border-radius: 5px;}
        }
        &.action-highlight {
            &:active { background-color: #cafffa;
                &:before { border: none;}
            }
            &:before { position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; content:""; border: 1px solid rgba($cta,.5); border-radius: 5px;}
        }
        &:active { background-color: rgba($grayDark,.08);}
        i { font-size: 1.5em; margin-right: $margin/2; vertical-align: bottom;}
    }

    @media (max-width: 340px) {
        .home-footer { left: 2%; bottom: 10px; width: 96%;}
        .home-footer-btn { padding: $padding $padding/4;}
    }
}

@keyframes route {
     0% {visibility: visible; opacity: 0; transform: translateY(0px);}
    5% {opacity: 1; transform: translateY(110px);}
    95% {opacity: 1; transform: translateY(110px);}
    100% {visibility: hidden; opacity: 0; transform: translateY(0px);}
}

@-webkit-keyframes route {
    0% {visibility: visible; opacity: 0; -webkit-transform: translateY(0px);}
    5% {opacity: 1; -webkit-transform: translateY(110px);}
    95% {opacity: 1; -webkit-transform: translateY(110px);}
    100% {visibility: hidden; opacity: 0; -webkit-transform: translateY(0px);}
}