.issue-page { background-color: #ffffff; height: auto;
    &.is-step2 {
        #next-step-btn { opacity: 0; transform: translateY(50%);}
        #submit-btn { opacity: 1; transform: translateY(0%); }
        .issue-step { transform: translateX(-100%);
            &.for-step1 { opacity: 0;}
            &.for-step2 { opacity: 1;}
        }
        .issue-explain { transform: translateY(-100%);}
        .issue-about { opacity: 1;}
    }
    .issue-body { clear: both; overflow-x: hidden;}
    .issue-explain { transition: .6s $animation-curve-default all; z-index: 5;}

    .issue-about { position: absolute; background-color: $yellowLighter; opacity: 0; transition: .6s $animation-curve-default all;
        img { padding: $padding/4; transform: translate(7px,15px);}
        .issue-about-content { margin: 10vw 5%;}
    }
    .issue-about-type { background-size: contain;}
    .issue-about-subtitle { font-size: 12px; font-weight: 700;}

    .issue-footer { position: fixed; left: 2.5%; bottom: 0px; background-color: $white; border-top: 1px solid darken($white,10%); display: block; padding: $padding/2 + $padding/4 0; text-align: center;  width: 95%; height: $footerHeight;}
    #next-step-btn, #submit-btn { position: absolute; left: 50%; margin-left: -80px; transition: .3s $animation-curve-default all; width: 160px;}
    #submit-btn { opacity: 0; transform: translateY(50%);}

    .issue-textarea { position: relative; margin-bottom: $margin/2;
        &:after { content: attr(data-limit); display: block; @include title-bold; font-size: 11px; text-align: right; width: 100%;}
    }
    .issue-form { display: block; width: 200%;}
    .issue-step { display: inline-block; float: left; opacity: 0; transition: .3s $animation-curve-default all; width: 49%; 
        &.for-step1 { opacity: 1;}
        input[type=radio] { display: none; visibility: hidden;
            &:active + label { opacity: .7;}
            &#buraco + .issue-select .issue-select-icon { background-image: url(../images/icons/queixas/buraco.svg);}
            &#acessibilidade + .issue-select .issue-select-icon { background-image: url(../images/icons/queixas/acessibilidade.svg);}
            &#iluminacao + .issue-select .issue-select-icon { background-image: url(../images/icons/queixas/iluminacao.svg);}
            &#obstaculo + .issue-select .issue-select-icon { background-image: url(../images/icons/queixas/obstaculo.svg);}
            &#seguranca + .issue-select .issue-select-icon { background-image: url(../images/icons/queixas/seguranca.svg);}
            &#sinalizacao + .issue-select .issue-select-icon { background-image: url(../images/icons/queixas/sinalizacao.svg);}
            &:checked + .issue-select .issue-select-icon { background-image: url(../images/icons/queixas/selecionada.svg)!important;}
        }
        input[type=file] { display: none; visibility: hidden;
            &:active + label { opacity: .7;}
        }
        .issue-select-img { position: relative; background-color: $yellowLighter; border-radius: 5px; display: inline-block; overflow: hidden; text-align: center; width: 100%; height: 100px;
            &.uploaded {
                i { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba($cta, .65); color: $white; font-size: 5em; line-height: 1.75em; text-align: center; opacity: 1;}
                img { opacity: 1;}
            }
            i { position: absolute; top: 50%; left: 50%; margin: -15px 0 0 -15px; font-size: 30px; opacity: .7;}
            img { position: absolute; top: -25%; left: 0px; display: inline-block; transition: .25s $animation-curve-default all; opacity: 0; width: 100%;
                
            }
        }
        .issue-select { color: $grayDarker; display: inline-block; @include title-bold; font-size: 10px; margin: 0 1% $margin; text-align: center; text-transform: uppercase; width: 30%;}
        .issue-select-icon { background-image: url(../images/icons/queixas/buraco.png); background-repeat: no-repeat; background-position: 50%; background-size: contain; display: block; margin-bottom: $margin/4; padding-bottom: 90%; width: 100%;
            &:active { opacity: .8;}
        }
    }
}