.login-page { display: flex; align-items: center; justify-content: center; background-color: $yellow; margin: 0; z-index: -1; height: 100%;
    .login-motto { @include title-bold; font-size: 20px; margin: $margin/2 0 $margin*2; color: $grayDarker;}
    .login-pattern { position: fixed; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); bottom: 0; left: -10%; background-image: url(../images/pattern.png); background-repeat: repeat-x; background-size: 500px 310px; z-index: -1; width: 120%; height: 320px;}
    .login-container { display: block; margin: 0 auto; padding: $padding; text-align: center; width: 300px;}
    .login-cta img { opacity: 1; transition: .3s $animation-curve-default all;
        &:active, &:hover { opacity: .9;}
    }
}