.prize-page {
    .prize-card { background-color: $grayLighter; margin-bottom: $margin; width: 100%; max-width: 420px; min-height: 0px;}
    .prize-card-content { margin: $margin/2; padding: $padding/2 + $padding/4;
        h2 { font-size: 16px; margin: 0;}
        i { display: inline-block; margin-right: 15px; vertical-align: sub;}
    }
    .prize-card-desc, .prize-card-illustration { display: none;}

    // EXPANDED CARD
    .prize-card.is-conquered { background-color: $redLighter;
        .prize-card-content { background-color: rgba($white,.8); border-radius:8px;  @include shadow-4dp();}
        .prize-card-desc, .prize-card-illustration { display: initial!important;}
        .prize-card-desc { font-size: 11px; line-height: 135%;}
        h2 { margin: 0 0 $margin/2;}
        i { display: none;}
        .prize-card-illustration { margin: -30px -25px -60px; width: calc(100% + 50px); max-width: calc(100% + 50px); height: auto;}
    }
}