.radius-page { padding-top: $padding*7; margin: 0;
    .radius-body { overflow-x: hidden; clear: both;}
    .radius-container { margin: 0 auto; width: 100%; max-width: 420px;}
    .radius-explain { background-color: $yellow; padding: $padding*1.5 15px; width: 100%;}
    .radius-explain-title { display: block; @include title-bold; font-size: 20px; margin-bottom: $margin/2;}
    .radius-explain-subtitle { font-size: 12px; opacity: .85;}

    .radius-select-container { display: block; width: 100%;}
    .radius-select-item { position: relative; display: none; float: left; text-align: center; transition: .3s $animation-curve-default all; width: 100%;
        &.is-selected { display: inline-block;}
        h4 { @include title-bold; font-size: 16px; line-height: 150%; padding: 0 $padding; margin-top: -$margin*1.5;}
    }
    .radius-select-arrow { position: absolute; top: 0px; bottom: 0px; font-size: 45px; line-height: 200px; width: 80px;
        &.prev { left: 0;}
        &.next { right: 0;}
    }
    .radius-select-illustration { margin: 0 10% $margin/2 0; width: 80%; max-width: 80%; height: auto;}

    .issue-footer { position: fixed; left: 2.5%; bottom: 0px; background-color: $white; border-top: 1px solid darken($white,10%); display: block; padding: $padding/2 + $padding/4 0; text-align: center;  width: 95%; height: $footerHeight;}
}