.route-status { background-color: lighten($grayLighter,8%); overflow-x: hidden;
    .route-status-container { padding: 0 $padding/2;}
    .app-header { min-height: 57px; height: auto;}
    .route-status-title { font-size: 15px; display: inline-block; line-height: 125%; margin-top: 7px; transform: translateX(15px); width: calc(100% - 20px);}
    .subtitle { @include title-bold; margin-top: -$margin/4; margin-bottom: 0; opacity: .85; transform: translateX(-$icon); }
    .route-status-card { margin: $margin/2 0; padding: $padding/2 $padding; width: 100%; min-height: auto!important;
        &:first-child { border-top-left-radius: 0px; border-top-right-radius: 0px; margin-top: 0px; overflow: visible;}
        .route-status-card__title { display: block; font-size: 22px; margin-bottom: $margin;}
    }
    .route-status-type__icons { float: left; margin-top: $margin/4;} 
    .route-status-type__icon { background-color: $red; background-size: cover; border-radius: 100%; border: 3px solid white; display: inline-block; margin-right: -$margin; width: 70px; height: 70px;
        &:last-child { margin-right: $margin;}
        &.acessivel { background-image: url(../images/icons/rotas/rota-acessivel.svg);}
        &.arborizada { background-image: url(../images/icons/rotas/rota-arborizada.svg);}
        &.movimentada { background-image: url(../images/icons/rotas/rota-movimentada.svg);}
        &.segura { background-image: url(../images/icons/rotas/rota-segura.svg);}
        &.turistica { background-image: url(../images/icons/rotas/rota-turistica.svg);}
    }
    .route-status-itens { border-bottom: 1px solid $grayLighter; margin-bottom: $margin/2;
        &:last-child { border: none; margin: none;}
    }
    .route-status-type__title { font-size: 20px; line-height: 125%;
        strong { text-transform: capitalize;}
    }
    .route-status-users { color: $grayDarker; font-size: 16px; @include title-bold;
        &.pending { color: $gray;
            img { opacity: .7;}
            .mdl-button { color: $cta; margin-left: $margin/4;}
        }
        img { margin-right: $margin/2;}
    }
    .route-status-photo { border-radius: 100%; border: 4px solid white; @include shadow-4dp();}
    .route-status-action { margin-bottom: -$margin/2; padding: $padding*1.5 $padding/2;
        button { float: right; margin-top: $margin/2;}
    }
    .route-status-overall { border: 1px solid $grayLight; border-radius: 8px; color: $gray; display: inline-block; font-size: 24px; font-weight: 700; margin-bottom: $margin; padding: $padding/2; text-align: center; min-width: 120px;
        small { display: block; font-size: 14px; font-weight: 400; opacity: .75;}
    }
    .route-status-map { background-image: url(../images/map.png); background-size: 125%; background-position: center; width: 100%; height: 0px; padding-top: 45%;}

    .route-status-messages { padding: 0; width: 100%;}
    .route-status-message { background-color: $yellowLighter; border-radius: 5px; font-size: 18px; line-height: 150%; margin-bottom: $margin/2; padding: 7px 15px;
        sub { display: block; font-size: 13px; font-weight: 700;}    
    }
    //WIDGET DE VOTO
    .rating_widget { display: inline-block; width: auto!important;
        li { display: inline-block; background-repeat: no-repeat; font-size: 0px!important; margin-left: $margin/4; transform: scale(1.3); width: 28px; height: 28px;
            &:first-child { margin-left: 0px;}
        }
    }
    
    .request-pending { background-color: $yellowLighter; display: block; font-weight: 700; margin: -10px -20px 20px; padding: $padding $padding/2; text-align: center;
        .mdl-spinner { margin-right: $margin/2; vertical-align: bottom;}
    }
    .request-disclaimer { background-color: $yellowLighter; display: block; font-weight: 700; margin: -10px -20px 0; padding: $padding*1.5 $padding/2 $padding/2; text-align: center;}
    .request-btn { position: absolute; top: -21px; left: 50%; margin-left: -110px; width: 220px; height: 42px;}
    .follow-btn { position: absolute; top: -21px; right: 10px; }

    @media (max-width: 380px) {
        .route-status-type__icons { display: block; float: none; margin-top:$margin/2; text-align: center;}
        .route-status-type__icon { width: 60px; height: 60px;}
        .route-status-type__title { display: block; font-size: 16px; margin-top: $margin/2; text-align: center;}
        .rating_widget { display: block; margin-top: -10px; margin-bottom: $margin*1.5; padding-left: 0px; text-align: center; width: 100%;}
        .route-status-overall { font-size: 16px; padding: $padding/4; min-width: 170px;
            small { font-size: 11px; margin-top: -3px;}
        }
    }
}