.route-page {
    .route-intro-illustration { margin-top: -2%; margin-bottom: -$margin/2; width: 30%;}
    .route-explain-content { margin: 6vw 5% 4.5vw -5%; width: 65%;}
    .route-explain-title { font-size: 5.5vw;}
    .route-explain-subtitle { font-size: 3vw;}
    
    form { margin-top: -15px;}
    .route-input { position: relative; display: block; margin-bottom: $margin/2;
        &:before { position: absolute; top: 6px; background-color: $white; border: 4px solid $redDark; border-radius: 100%; content: ""; display: block; width: 20px; height: 20px; }
        input { padding: 0px 0px 0px $padding*1.5; height: 45px;
            &:active, &:focus { border-color: $redDark;}
        }
        &.route-input-end {
            &:before { border-color: $redLight;}
            input:active, input:focus { border-color: $redLight;} 
        }
    }

    input[type=checkbox] { display: none; visibility: hidden;
        &:active + label { opacity: .7;}
        &#acessivel + .route-select .route-select-icon { background-image: url(../images/icons/rotas/rota-acessivel.svg);}
        &#arborizada + .route-select .route-select-icon { background-image: url(../images/icons/rotas/rota-arborizada.svg);}
        &#movimentada + .route-select .route-select-icon { background-image: url(../images/icons/rotas/rota-movimentada.svg);}
        &#segura + .route-select .route-select-icon { background-image: url(../images/icons/rotas/rota-segura.svg);}
        &#turistica + .route-select .route-select-icon { background-image: url(../images/icons/rotas/rota-turistica.svg);}
        &:checked + .route-select .route-select-icon { background-image: url(../images/icons/rotas/rota-selecionada.svg)!important;}
    }

    .route-select { color: $gray; display: inline-block; @include title-bold; font-size: 2.5vw; margin: 0 1% $margin; text-align: center; text-transform: uppercase; width: 17%;}
    .route-select-icon { background-image: url(../images/icons/queixas/buraco.svg); background-repeat: no-repeat; background-position: 50%; background-size: contain; display: block; margin-bottom: $margin/4; padding-bottom: 100%; width: 100%;
        &:active { opacity: .8;}
    }
    .route-footer { position: fixed; left: 2.5%; bottom: 0px; background-color: $white; border-top: 1px solid darken($white,10%); display: block; padding: $padding/2 + $padding/4 0; text-align: center;  width: 95%; height: $footerHeight;}
}