body {
    .app-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left:0; background-color: rgba(black,.7); opacity: 0; visibility: hidden; transition: .45s ease opacity; z-index: 100;}
    &.is-modal {
        .app-backdrop { opacity: 1; visibility: visible;}
    }
}