*, *:before, *:after {box-sizing: border-box;}
html, body { font-family: 'Roboto', 'Helvetica', sans-serif; font-size: 14px; margin: 0; padding: 0; width: 100%; height: 100%;}
body { margin-top: $headerHeight;
    &.is-footer-fixed { margin-bottom: $headerHeight;}
}
i { margin-right: $margin/4;}
h2 { @include title-bold; display: inline-block; font-size: 16px; letter-spacing: -.5px; line-height: 125%; margin-top: $margin/2 + $margin/4; margin-bottom: $margin*1.25; width: 100%;}
header { position: fixed; top: 0px; background-color: $yellow; @include shadow-4dp(); color: $grayDarker; display: inline-block; padding: 15px 20px; text-align: center; vertical-align: middle; z-index: 100;}
input[type=text], textarea { border: none; border-bottom: 2px solid $gray; font-size: .9em; letter-spacing: .5px; line-height: 150%; margin-top: -$margin/4; padding: 0 0 7px; @include title; width: 100%;
    &:active, &:focus { border-color: $yellowDark; outline: none;}
}
.content-body { padding: 0 $padding; text-align: left;}
.subtitle { color: $grayDark; display: block; font-size: 10px; @include title; margin: -25px 0 $margin/2;}
.mdl-snackbar {
    .mdl-snackbar__text { font-size: 13px; padding-right: 0px;}
    button { color: $yellow;}
    &.show-snack { transform: translate(0,0);}
}

.overall-rating{
    font-size: 14px;
    margin-top: 5px;
    color: #8e8d8d;
}

.codexworld_rating_widget{
    padding: 0px;
    margin: 0px;
    float: left;
}
.codexworld_rating_widget li{
    line-height: 0px;
    width: 28px;
    height: 28px;
    padding: 0px;
    margin: 0px;
    margin-left: 2px;
    list-style: none;
    float: left;
    cursor: pointer;
}
.codexworld_rating_widget li span{
    display: none;
}

/* google maps */
#google_maps{
  height: calc(100% - $headerHeight) !important;
  width: 100% !important;
  position: absolute;
}