.app-user-counter { position: relative; background-color: rgba($grayDarker,.15); border-radius: 3px; display: inline-block; margin-left: -$margin/2; overflow: hidden; width: calc(100% + 20px); height: 12px;
    .app-user-progress { position: absolute; top: 0px; bottom: 0px; left: -100%; background-color: $redDark; border-radius: 3px; width: 100%;}
}
.app-user-points { display: block; font-size: 12px; margin-bottom: -$margin/2; text-align: center; }