.app-header { display: block; padding: $padding/2; padding-left: $icon + $padding/2; width: 100%; height: $headerHeight;
    .app-header-menu { float: left; width: $icon; height: $icon; -webkit-transform: translateX(-$icon); transform: translateX(-$icon);
        i { font-size: 1.1em; }
    }
    .app-header-title { font-size: 18px; @include title-bold; line-height: 260%; margin-left: -$icon*2;
        .app-header-logo { margin-top: -5px; max-width: 100%; height: auto;}
    }
}