.gm-style-iw { width: 350px !important; top: 0 !important; left: 0 !important; border-radius: 4px 4px 0 0;}

.app-issue-box { padding: $padding $padding/2 0 $padding/2; text-align: center; width: 100%;
    .app-issue-title { @include title; font-size: 22px; line-height: 125%; margin-bottom: $margin/2;}
    .app-issue-review { position: relative; color: $gray; font-size: 15px; padding: $padding $padding*2; letter-spacing: -.25px;
        &:before { position: absolute; top: 22px; left: 15px; content:"“"; color: $yellowLight; font-size: 50px; @include title-bold;}
        &:after { position: absolute; top: 26px; right: 15px; content:"”"; color: $yellowLight; font-size: 50px; @include title-bold;}
    }
    .app-issue-image { width: 100%; overflow: hidden; margin-bottom: $margin/2; height: 120px
        img { max-width: 100%; width: 100%; height: auto;}
    }
    .app-issue-vote { font-size: 15px; @include title-bold; display: block; margin-bottom: -$margin/4;}
}