.app-intro { background-color: $yellow; margin-bottom: $margin/2; transition: .45s $animation-curve-default all; width: 100%;
    .app-intro-illustration { float: left; margin-bottom: $margin/2; width: 26%; }
    .app-intro-content { display: inline-block; margin: 4vw 5%; opacity: .8; padding-left: $padding/2; width: 60%;}
    .app-intro-title { display: block; @include title-bold; font-size: 6vw; line-height: 125%; margin-bottom: 2vw;}
    .app-intro-subtitle { @include title; font-size: 3.5vw; line-height: 170%;}
}