.app-lateral-menu { position: fixed; top: 0; bottom: 0; left: 0; background-color: white; @include shadow-8dp(); color: $grayDarker; transform: translateX(-400px); transition: .45s $animation-curve-default all; z-index: 200; width: 280px;
    &.is-active { transform: translateX(0px);}
    .app-lateral-links { margin: $margin 0;
        .material-icons { margin-right: $margin;}
        .mdl-button { @include title-bold(); color: $grayDark; font-size: 13px; line-height: 50px; text-align: left; width: 100%; height: 50px;}
    }
}
.app-user { background-color: $yellow; display: block; padding: $padding; text-align: center; width: 100%;
    .app-user-photo { border-radius: 100%; border: 4px solid white; @include shadow-4dp(); margin-bottom: -$margin/2; overflow: hidden;}
    .app-user-name { @include title-bold(); font-size: 24px; line-height: 125%; margin-bottom: 0;}
    .app-user-lvl { @include title-bold(); font-size: 13px; opacity: .7; text-transform: uppercase;}
}