.app-points-feedback { position: fixed; left: 0; right: 0; bottom: 0; opacity: 0; -webkit-transform: translateY(300px); -moz-transform: translateY(300px); -ms-transform: translateY(300px); transform: translateY(300px);
    &.is-active { -webkit-animation: pointsIndicator 5s $animation-curve-default; animation: pointsIndicator 5s $animation-curve-default;}
    &.is-nv2, &.is-nv3 { 
        .app-got-prize { display: none;}
    }
    &.is-nv2 {
        .nv2 { @include shadow-4dp(); background-color: #E9CF63; border-radius: 5px; display: block; margin: -50px 0px 25px;}
    }
    &.is-nv3 {
        .nv3 { @include shadow-4dp(); background-color: #F3646A; border-radius: 5px; color: white; display: block; margin: -50px 0px 25px;}
    }
    .nv2, .nv3 { display: none;}
    .login-pattern { position: fixed; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); bottom: 0; left: -10%; background-image: url(../images/pattern.png); background-repeat: repeat-x; background-size: 200px 120px; z-index: -1; width: 120%; height: 120px;}
    .app-points-title { font-size: 20px; @include title-bold; margin-top: 0px; margin-bottom: $margin/2; opacity: .85;}
    .app-points-level { text-align: center; height: 120px;
        img { width: 120px; height: 120px;}
    }
    .app-points-levelname { @include title-bold; font-size: 12px; margin-top: -10px; padding-bottom: $padding; text-transform: uppercase;}
}

@keyframes pointsIndicator {
     0% {visibility: visible; opacity: 0; transform: translateY(300px);}
    10% {opacity: 1; transform: translateY(0px);}
    90% {opacity: 1; transform: translateY(0px);}
    100% {visibility: hidden; opacity: 0; transform: translateY(300px);}
}

@-webkit-keyframes pointsIndicator {
    0% {visibility: visible; opacity: 0; -webkit-transform: translateY(300px);}
    10% {opacity: 1; -webkit-transform: translateY(0px);}
    90% {opacity: 1; -webkit-transform: translateY(0px);}
    100% {visibility: hidden; opacity: 0; -webkit-transform: translateY(300px);}
}