$headerHeight: 64px;
$footerHeight: 70px;

$padding: 20px;
$margin: 20px;
$icon: 42px;
$cta: #009688;

$yellowDarker: #D3891B;
$yellowDark: #F79C00;
$yellow: #FCBA35;
$yellowLight: #EFCD62;
$yellowLighter: #F9E3AA;

$redDarker: #76313A;
$redDark: #A53E47;
$red: #E05055;
$redLight: #FF6666;
$redLighter: #FF9999;

$grayDarker: #313436;
$grayDark: #59545B;
$gray: #888888;
$grayLight: #AFAFAF;
$grayLighter: #D8D8D8;
$white: #ffffff;

$brownDark: #5B4843;
$brown: #7C6159;
$brownLight: #B29488;
$cream: #EDC29F;

@mixin title { font-family: "Source Sans Pro", sans-serif; font-weight: 400;}
@mixin title-bold { font-family: "Source Sans Pro", sans-serif; font-weight: 700;}